/* FONTS */
/* Roboto Mono */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/* ELEMENTS */
p {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
iframe + p {
  padding: 10px;
}

p + sub {
  font-family: "Roboto Mono", monospace;
  clear: both;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}

.special-sub {
  font-family: "Roboto Mono", monospace;
  clear: both;
  display: block !important;
  position: static !important;
  margin: 10px;
}

sub {
  font-family: "Roboto Mono", monospace;
  clear: both;
  display: block;
  position: static;
  margin: 10px;
}

body {
  background-color: #161515;
  width: 100%;
  color: #b03232;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

iframe {
  width: 60%;
  margin: 0 auto;
  display: block;
}

h1 {
  font-size: 50px;
}

/* hyperlink styling */
a:link {
  color: #b03232;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:visited {
  color: #892929;
}

a:hover {
  color: #892929;
  text-decoration: none;
}

a:active {
  color: #b03232;
}

/* navbar*/
nav {
  margin-top: 4.3vmin;
  font-size: 23px;
  text-align: center;
  width: auto;
}

/* IDS */

/* search */
#searchbar {
  width: 20%;
  background-color: #0000;
  border: #b03232 inset 2px;
  color: white;
}
#search-items {
  margin: 0 auto;
  width: 80%;
}

/* CLASSES */
/* navbar */
.nav-container {
  background-color: #0f0f0f;
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 0px;
  width: 100%;
  height: 22vh;
  box-sizing: border-box;
}
.nav-item:link {
  text-align: center;
  text-decoration: none;
  padding: 3.7vmin;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav-item:hover {
  color: #892929;
}
.nav-item:visited {
  color: #892929;
}
.logo {
  padding-top: 20px;
  height: 30%;
  text-align: center;
}

/* search */
.search-item {
  width: 14.3vw;
  height: 14.3vw;
  border: #b03232 inset 2px;
  float: left;
  margin: 30px;
  font-size: 1vw;
}
.search-img {
  height: 11vw;
  width: 11vw;
  clip-path: border-box;
  margin: 0 auto;
}
img + a {
  display: block;
}
